/*I dont know why, but (::sel, ::-moz-sel {}) isnt working*/
::-moz-selection{
	background: #775ac9;
	/*color: white;*/
}
::selection{
	background: #775ac9;
	/*color: white;*/
}



body {
	margin: 0;
	background: #3f3f3f;
}


 a {
	display: inline-block;
	color: #60b6ff;
	text-decoration: none;
	transition: 0.3s cubic-bezier(.29,.76,.51,1.5);
}
 a:hover {
	color: #8fccff;
}

 .site-content a:before, .site-content-labors a:before {
 	content: '';
	position: relative;
	display: block;
	top: 24px;
	width: 100%;
	height: 1px;
	transition: 0.3s ease-out;
	background: #8fccff;
	transform: translateX(-50%) scaleX(0);
}
 .site-content a:hover:before, .site-content-labors a:hover:before {
	transform: translateX(-25%) scaleX(0.5);
}
 .site-content a:after, .site-content-labors a:after {
	content: '';
	/*position: relative;*/
	display: block;
	top: -1px;
	width: 100%;
	height: 1px;
	transition: 0.3s ease-out;
	background: #8fccff;
	transform: translateX(50%) scaleX(0);
}
 .site-content a:hover:after, .site-content-labors a:hover:after {
	transform: translateX(25%) scaleX(0.5);
}

.site {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
}
.header-title {
	color: #775ac9;
	font-weight: normal;
	font-size: 2.3em;
	margin: 0;
}
.site-header {
	margin-top: 20px;
	background: #3f3f3f;
}
.header-container{
	display: flex;
    max-width: 900px;
    justify-content: space-between;
    margin: auto;
}

.title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.site-header a {
	text-decoration: none;
	color: #775ac9;
}
.site-header a:visited {
	color: #775ac9;
}
.site-header img {
	width: 50px;
}
.site-header p {
	color: white;
	margin: 0;
}
.site-content {
	display: flex;
	justify-content: center;
	/*background: #fff;*/
	color: white;
	flex: 1 0 auto;
	margin: 100px auto;
	width: 100%;
}
article {
	max-width: 940px;
	margin: auto;
}
.site-footer {
	width: 100%;
	background: #3f3f3f;
}
.site-footer section {
	max-width: 950px;
	line-height: 35px;
	margin: auto;
	color: white;
	font-size: 0.8em;
}
.site-footer p {
	display: inline-block;

}


.header-title, .menu {
	align-self: center;
}


.menu {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-item {
	margin: 0;
	padding: 0;
	display: inline-block;
}
.menu-item:hover a{
	color: #b8a0ff;
}

/*.menu-item:after {
	content: '';
	position: relative;
	display: block;
	top: -3px;
	width: 100%;
	height: 2px;
	transition: 0.3s cubic-bezier(.29,.76,.51,1.5);
	transform: scaleX(0);
}
.menu-item:hover:after {
	background: #b8a0ff;
	transform: scaleX(1);
}*/


.menu-item a:after {
	content: '';
	position: relative;
	display: block;
	top: 1px;
	width: 100%;
	height: 1px;
	transition: 0.3s ease-out;
	background: #b8a0ff;
	transform: translateX(75%) scaleX(0);
}
.menu-item a:hover:after {
	transform: translateX(0) scaleX(1);
}
.menu-item a:before {
	content: '';
	position: relative;
	display: block;
	top: 2px;
	width: 100%;
	height: 1px;
	transition: 0.3s ease-out;
	background: #b8a0ff;
	transform: translateX(-75%) scaleX(0);
}
.menu-item a:hover:before {
	transform: translateX(0) scaleX(1);
}



.menu-item>a {
	display: inline-block;
	padding: 5px 20px;
	font-size: 1.2em;
	transition: 0.3s ease-out;
}
.menu-current a{
	color: #b8a0ff !important;
}



.header-title a {
	text-decoration: none;
	font-size: 1.8em;
}



/*Crew.html division --------------------------------------------------------------------------------------------------*/

.site-content-crew {
	margin: 100px auto;
	width: 100%;
	padding: 25px;
	background: #3F3F3F;
	display: flex;
	justify-content: center;
	color: white;
	flex: 1 0 auto;
}

.member-container {
	background: #3f3f3f;
	display: inline-flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	margin: 25px;
	padding: 15px;
	height: 280px;
	min-width: 250px;
}
.member-avatar {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}


/*media buttons styles -----------------------------------------------------*/

.fa {
	font-size: 1.7em !important;
	color: #b8a0ff;
	transition: 0.2s linear;
}
.fa-vk:hover {
	color: #537599;
}
.fa-instagram:hover {
	color: #3f729b;
}
.fa-github:hover {
	color: #4183c4;
}
.fa-trello:hover {
	color: #0079bf;
}

/*media buttons styles -----------------------------------------------------*/

.member-container b {
	color: #775ac9;
}

.member-container p {
	color: white;
}


/*Crew.html division --------------------------------------------------------------------------------------------------*/










/*labors.html division ------------------------------------------------------------------------------------------------*/
.site-content-labors {
	margin: 100px auto;
	width: 100%;
	padding: 25px;
	background: #3F3F3F;
}
.site-content-labors > section{
	width: 960px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: auto;
}
.site-example {
	display: flex;
	margin: 10px 0;
	padding: 10px;
	background: #3F3F3F none repeat scroll 0% 0%;
}
.site-example section {
	margin-left: 20px;
}
.site-example-title a{
	color: #775AC9;
}
.site-example-description {
	color: white;
}

/*labors.html division ------------------------------------------------------------------------------------------------*/