/*I dont know why, but (::sel, ::-moz-sel {}) isnt working*/
::-moz-selection{
	background: #775ac9;
	color: white;
}
::selection{
	background: #775ac9;
	color: white;
}



body {
	margin: 0;
}


a {
	color: #60b6ff;
	text-decoration: none;
	transition: 0.3s cubic-bezier(.29,.76,.51,1.5);
}
a:hover {
	color: #8fccff;
}


.site {
	background: linear-gradient(to top right, #ffe29e, #e9ef8f);
	display: flex;
	flex-direction: column;
	align-content: space-between;
	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
}
.header-title {
	color: #bcade5;
	font-weight: normal;
	margin: 0;
}
.site-header {
	background: #3f3f3f;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
/*	display: flex;
	justify-content: center;
	align-items: center;*/
}
.header-container{
	display: flex;
    max-width: 900px;
    justify-content: space-between;
    margin: auto;
}

.title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.site-header a {
	text-decoration: none;
	color: #775ac9;
}
.site-header a:visited {
	color: #775ac9;
}
.site-header img {
	width: 50px;
}
.site-header p {
	color: white;
	margin: 0;
}
.site-content {
	display: flex;
	justify-content: center;
	background: #fff;
	flex: 1 0 auto;
	margin: 100px auto;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	width: 100%;
}
article {
	max-width: 940px;
	margin: auto;
}
.site-footer {
	width: 100%;
	background: #3f3f3f;
}
.site-footer section {
	max-width: 950px;
	line-height: 35px;
	margin: auto;
	color: white;
}
.site-footer p {
	display: inline-block;
	font-size: 0.8em;
}


.header-title, .menu {
	align-self: center;
}


.menu {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-item {
	margin: 0;
	padding: 0;
	display: inline-block;
}
.menu-item:hover a{
	color: #bcade5;
}
.menu-item:after {
	content: '';
	position: relative;
	display: block;
	top: -5px;
	width: 100%;
	height: 2px;
	transition: 0.3s cubic-bezier(.29,.76,.51,1.5);
	transform: scaleX(0);
}
.menu-item:hover:after {
	background: #bcade5;
	transform: scaleX(1);
}
.menu-item>a {
	display: inline-block;
	padding: 5px 20px;
	font-size: 1.2em;
}




.header-title a {
	text-decoration: none;
	font-size: 1.8em;
}