<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	#fuckthat.divs
	ul.list
	li.gravityfalls1
	li.gravityfalls2
	li.gravityfalls3
	li.gravityfalls4
	li.gravityfalls5
	li.gravityfalls6
	